.inputArea {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    .ant-segmented-item-label {
        display: flex;
        align-items: center;
    }
}

.inputAreaSpace {
    display: flex;
    align-items: flex-end;

    .ant-segmented, .ant-input, .ant-btn {
        border-radius: 0;
    }
}

